/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.body {
    background-color: rgb(175, 175, 175);
}
.calculator_container {
    max-width: 1200px;
    margin: 0 auto;
}
.calculator_content {
    margin: 25px auto 0 auto;
    width: 315px;
    height: 500px;
    background-color: rgb(29, 29, 29);
    border: 1px solid black;
}
.result_box {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgb(50, 50, 50);
    border-bottom: 1px solid black;
}
.input_first_number,
.input_operation,
.input_second_number,
.input_result {
    color: white;
    font-size: 32px;
    font-weight: bold;
    padding: 15px 0 0 15px;
}
.operation_content {
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
}
.operation_content button {
    border: 1px solid black;
    padding: 8px 24px;
    font-weight: bold;
    font-size: 18px;
    color: white;
    background-color: rgb(29, 29, 29);
    transition: all 0.3s ease;
    cursor: pointer;
}
.operation_content button:hover {
    background-color: rgb(50, 50, 50);
}
.operation_number {
    display: flex;
    flex-direction: column;
}
.operation_number_box_one {
    display: flex;
    justify-content:space-evenly;
    margin: 25px 0
}
.operation_number_box_two {
    display: flex;
    justify-content:space-evenly;
}
.operation_number_box_three {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}
.operation_number_box_one button,
.operation_number_box_two button,
.operation_number_box_three button {
    border: 1px solid black;
    padding: 8px 24px;
    font-weight: bold;
    font-size: 18px;
    color: white;
    background-color: rgb(29, 29, 29);
    transition: all 0.3s ease;
    cursor: pointer;
}
.operation_number_box_one button:hover,
.operation_number_box_two button:hover,
.operation_number_box_three button:hover {
    background-color: rgb(50, 50, 50);
}